.quiz {
  height: 100vh;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  line-height: 1.2rem;
}
.quiz_wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 90%;

  gap: 40px;
  justify-content: flex-start;
}

.subject_title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  counter-reset: answerCounter;
}

.answer::before {
  counter-increment: answerCounter;
  content: counter(answerCounter, upper-alpha) ".    ";
}

button {
  background-color: purple;
  width: 100%;
  height: 15%;
  margin-top: 10px;
  border: none;

  color: white;
  border-radius: 10px;
}

.answer {
  text-decoration: none;
  font-size: 1rem;
  display: flex;

  align-items: center;
  line-height: 1.5rem;
  background-color: #3b4d66;
  border-radius: 15px;
  width: 100%;
  height: 8vh;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  box-shadow: 0px 2px 0px rgba(163, 160, 160, 0.4);
}

.answer:hover {
  border-color: #a729f5;
  cursor: pointer;
}

.answer:focus {
  border-color: #a729f5;
}

.answer.correct {
  border-color: #26d782;
}

.answer.incorrect {
  border-color: #ee5454;
}

.disable {
  pointer-events: none;
}

.container {
  line-height: 2em;
}

button:hover {
  opacity: 0.4;
}

@media (min-width: 1024px) {
  .quiz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1200px;
    max-height: 700px;
  }

  .quiz_wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    width: 100%;
  }

  .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container-answer {
    width: 30%;
  }

  button {
    /* margin-top: 5px; */
    width: 100%;
    height: 55px;
  }

  .answers {
    width: 100%;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
